<h1>New post creator</h1>

<h2>Author: <%= current_user.name %></h2>
<%= form_for @post do |f| %>
	<%= f.label :content %>
	<%= f.text_area :content, rows: 10 %>

	<%= f.submit "Post" %>
<% end %>
	
<div id="links">
	<%= link_to "Go back", posts_path %>
</div>